.App {
  text-align: center;
  background-color: antiquewhite;
}
.jumbotron{
  background-color: #ff3f34;
  color: white;
  padding:70px;
}
.food-icon{
  font-size: 80px;
}

.card{
  border: 2px solid black;
  box-shadow: 2px 8px 8px #727070;
}
